#art{
    width: 700px;
    margin: 10% auto;
    border: 1px dashed #ccc;
    border-radius: 4px;
    padding: 10px;
}
#art dl dd{
    display: block;
    margin: 5px auto;
}
#art textarea{
    height: 400px;
    width: 700px;
    resize: none;
    margin: 10px 0 10px 0;
    display: block;
}
#art select{
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}
#art input.text{
    height: 25px;
    line-height: 25px;
    text-indent: 5px;
    width: 400px;
}
#art #code{
    position: relative;
    top: 7px;
    margin: 0 10px;
    cursor: pointer;
}
form .button{
    cursor: pointer;
}

/*form #content{*/
    /*width:100%;*/
    /*height: 300px;*/
    /*!*height: 400px;*!*/
    /*display: block;*/
    /*margin: 10px 0 0 10px;*/
    /*border: none;*/
/*}*/
/*form input.text{*/
    /*width: 490px;*/
    /*height: 25px;*/
    /*line-height: 25px;*/
/*}*/
/*form #code{*/
    /*position: relative;*/
    /*top: 12px;*/
    /*margin: 0 20px 5px 5px;;*/
    /*cursor: pointer;*/
/*}*/
