#album{
    width: 958px;
    border: 1px solid #ccc;
    min-height: 400px;
}
#album dl{
    width: 310px;
    margin: 30px auto;
}
#album dl dd{
    margin: 5px 0;
}
#album dl dd.submit{
    text-align: center;
}
#album dl dd.submit input{
    width: 60px;
    cursor: pointer;
}
#album dl dd .text{
    width: 200px;
    height: 25px;
    line-height: 25px;
    text-indent: 5px;
}
#album dl .brief{
    vertical-align: top;
}
#album dl dd textarea{
    width: 200px;
    height: 60px;
    text-indent: 5px;
    resize: none;
}